---
import { Card, CardHeader, CardContent } from "../ui/card";
import { Badge } from "../ui/badge";
import { PERSONAL_INFO, SKILLS } from "@/lib/personalInfo";
---

<Card className="shadow-none md:shadow-sm border-0 md:border flex flex-col gap-4 w-full">
  <div class="flex flex-col md:flex-row p-6 md:p-8 gap-6">
    <div class="flex-1 order-2 md:order-1">
      <CardHeader className="p-0 pb-4">
        <div class="flex flex-col justify-between h-full">
          <div class="font-mono font-bold text-3xl">{PERSONAL_INFO.name}</div>

          <div>
            <div class="font-mono">{PERSONAL_INFO.title}</div>
            <div class="flex flex-row items-center gap-2 font-mono font-light text-sm">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
                <circle cx="12" cy="12" r="10"></circle>
                <path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"></path>
                <path d="M2 12h20"></path>
              </svg>
              {PERSONAL_INFO.location}
            </div>
          </div>
        </div>
      </CardHeader>
      <CardContent className="font-mono text-sm space-y-6 p-0">
        <p>{PERSONAL_INFO.summary}</p>
        
        <div class="flex flex-row flex-wrap gap-2">
          {
            SKILLS.primary.map((skill) => (
              <Badge className="pointer-events-none rounded-full">
                {skill}
              </Badge>
            ))
          }
          {
            SKILLS.secondary.map((skill) => (
              <Badge
                className="pointer-events-none rounded-full"
                variant="secondary"
              >
                {skill}
              </Badge>
            ))
          }
        </div>
      </CardContent>
    </div>

    <div class="flex justify-center md:justify-start order-1 md:order-2">
      <div class="w-40 h-40 md:w-48 md:h-48 rounded-full overflow-hidden flex-shrink-0">
        <img
          src={PERSONAL_INFO.profileImage}
          alt="Profile picture"
          class="object-cover w-full h-full"
        />
      </div>
    </div>
  </div>
</Card>