---
import { Card, CardHeader, CardContent } from "../ui/card";
import { Badge } from "../ui/badge";
import SocialLinks from "@/components/SocialLinks.astro";
import { PERSONAL_INFO, SKILLS } from "@/lib/personalInfo";
---

<Card className="flex w-full flex-col gap-4 border-0 shadow-none md:border md:shadow-sm">
  <div class="flex flex-col gap-6 p-6 md:flex-row md:p-8">
    <div class="order-2 flex-1 md:order-1">
      <CardHeader className="p-0 pb-4">
        <div class="flex h-full flex-col justify-between">
          <h1 class="font-mono text-3xl font-bold">{PERSONAL_INFO.name}</h1>

          <div>
            <p class="font-mono">{PERSONAL_INFO.title}</p>
            <p class="flex flex-row items-center gap-2 font-mono text-sm font-light">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="h-4 w-4"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"></path>
                <path d="M2 12h20"></path>
              </svg>
              {PERSONAL_INFO.location}
            </p>
          </div>
        </div>
      </CardHeader>
      <CardContent className="space-y-6 p-0 font-mono text-sm">
        <p>{PERSONAL_INFO.summary}</p>

        <div class="flex flex-row flex-wrap gap-2">
          {
            SKILLS.primary.map((skill) => (
              <Badge className="pointer-events-none rounded-full">{skill}</Badge>
            ))
          }
          {
            SKILLS.secondary.map((skill) => (
              <Badge className="pointer-events-none rounded-full" variant="secondary">
                {skill}
              </Badge>
            ))
          }
        </div>

        <div class="flex flex-wrap items-center gap-4 pt-2">
          <SocialLinks
            class="gap-4"
            iconClass="h-5 w-5"
            itemClass="text-foreground hover:text-primary transition-colors"
            labelPrefix="Open"
          />
        </div>
      </CardContent>
    </div>

    <div class="order-1 flex justify-center md:order-2 md:justify-start">
      <div class="h-40 w-40 flex-shrink-0 overflow-hidden rounded-full md:h-48 md:w-48">
        <img
          src={PERSONAL_INFO.profileImage}
          alt="Profile picture"
          class="h-full w-full object-cover"
        />
      </div>
    </div>
  </div>
</Card>
